mixin coffee-box(img,name,money)
     div(class="coffee-box")
        div(class="coffee-1")
            img(src="imgs/"+img+".jpg", alt="產品 照片")
        div(class="coffee-2")
            img(src="imgs/look1.png", alt="標題圖")
            h1 hot __ ice
        h2=name
        h3=money
        
            
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="zh")
        meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
        title Fussen Coffee
        link(rel="stylesheet", href="style.css")
    body
        div(id="fussen")
            include nav.pug
        section(class="rapid")
            div(class="rapidforbox")
                    h1 咖啡專區
                    div(class="rapid-box") 
                        a(href="index.html") 首頁 
                        a(href="Meal goods.html") / 餐點商品
                        a(href="coffee.html") / 咖啡        
        section(id="coffee")
            +coffee-box("coffee1","義式黑咖啡","NT.70 NT.80")
            +coffee-box("coffee2","福森特調咖啡","NT.80 NT.90")
            +coffee-box("coffee3","拿鐵咖啡","NT.100 NT.110")
            +coffee-box("coffee4","卡布奇諾","NT.100 NT.110")
            +coffee-box("coffee5","玫瑰拿鐵","NT.110 NT.120")
            +coffee-box("coffee6","太妃糖拿鐵","NT.110 NT.120")
            +coffee-box("coffee7","炙燒黑糖卡布","NT.110 NT.120")
            +coffee-box("coffee8","焦糖瑪其多","NT.110 NT.120")
        div(class="comeback-box")
            a(href="Meal goods.html" class="comeback") 回上頁
        footer
            nav
                img(src="imgs/福森.png", alt="Fussen Coffee首頁" class="logo")
                div(class="link")
                    a(href="index.html") 首頁
                    a(href="Meal goods.html") 餐點商品
                    a(href="Branch information.html") 分店資訊
                    a(href="contact us.html") 聯繫我們
            div(id="copy") Copyright  &copy;  2019 Fussen coffee. All rights reserved