mixin dessert-box(img,name,money)
     div(class="dessert-box")
        div(class="dessert-1")
            img(src="imgs/"+img+".jpg", alt="產品 照片")
        div(class="dessert-2")
            img(src="imgs/look2.png", alt="標題圖")
        h1=name
        h2=money
        
            
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="zh")
        meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
        title Fussen Coffee
        link(rel="stylesheet", href="style.css")
    body
        div(id="fussen")
            include nav.pug
        section(class="rapid")
            div(class="rapidforbox")
                h1 沙拉專區
                div(class="rapid-box") 
                    a(href="index.html") 首頁 
                    a(href="Meal goods.html") / 餐點商品
                    a(href="island.html") / 沙拉
                
        section(id="dessert")
            +dessert-box("island1","法式培根凱薩沙拉","NT.70")
            +dessert-box("island2","季節水果沙拉","NT.90")
            +dessert-box("island3","煙燻鮭魚乳酪沙拉","NT.90")
        div(class="comeback-box")
            a(href="Meal goods.html" class="comeback") 回上頁
        footer
            nav
                img(src="imgs/福森.png", alt="Fussen Coffee首頁" class="logo")
                div(class="link")
                    a(href="index.html") 首頁
                    a(href="Meal goods.html") 餐點商品
                    a(href="Branch information.html") 分店資訊
                    a(href="contact us.html") 聯繫我們
            div(id="copy") Copyright  &copy;  2019 Fussen coffee. All rights reserved