mixin Meal-box(project,img,text)
     div(class="Meal-box")
        a(href=""+project)
            div(class="amplification")
                img(src="imgs/"+img+".jpg", alt="產品 照片")
            p=text
            
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="zh")
        meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
        title Fussen Coffee
        link(rel="stylesheet", href="style.css")
    body
        div(id="fussen")
            include nav.pug        
        section(id="Meal")
            +Meal-box("project","Asther1","套餐")
            +Meal-box("project","Asther2","沙拉")
            +Meal-box("project","Asther3","三明治")
            +Meal-box("project","Asther4","點心")
            +Meal-box("coffee.html","Asther5","咖啡")
            +Meal-box("project","Asther6","飲品")
        footer
            nav
                img(src="imgs/福森.png", alt="Fussen Coffee首頁" class="logo")
                div(class="link")
                    a(href="index.html") 首頁
                    a(href="Meal goods.html") 餐點商品
                    a(href="Branch information.html") 分店資訊
                    a(href="contact us.html") 聯繫我們
            div(id="copy") Copyright  &copy;  2019 Fussen coffee. All rights reserved