*{
    font-family: 微軟正黑體;
    padding: 0;
    margin: 0;
}

body{
    background-color: #e6ee9c   ;
}

.logo{
    width: 350px;
    height: 50px;

}

.link{
    float: right;
    padding: 20px;
}

.link a{
    color: white;
    text-decoration: none;
    padding: 5px 12px;
}

.link a:hover{
    background-color:#ffe048 ;
    color:black;
    transition: 0.6s;
}
/* 導覽列區塊 */
nav{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

#fussen{
    background-color:#004B3F    ;
    height: 70px;
    
}

/* 頁尾 */
footer{
    background-color: #004B3F;
    color: #fff;
    margin-top: 100px;
}

footer #copy{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

/* 餐點商品區塊 */

#Meal{
    background-color: #004B3F;
    width: 80vw;
    margin: 0 auto;
    border:5px #6B4B40;
}

/* 分店資訊 */

#map{
    width: 80vw;
    height: 650px;
    margin: 15px auto;
    text-align: center;
    /* 顯示 格式 */
    display: grid;
    /* 格線-框架-欄位 : 欄位尺寸1 欄位尺寸2 ...... */
    grid-template-columns: auto auto ;
    /* 格線-間隙 */
    grid-gap: 5px;
    border: 20px solid #6B4B40;
    background-color: #004B3F;
   
}

.Branch-box img{
    width: 450px;
    height: 300px;
    text-align: center;
    border: 2px solid black;    
}

.Branch-box{
    margin: 10px 18px;
    border: 5px solid #6B4B40;
    background-color: #e6ee9c;
}

.Branch-box hr{
    height: 2px;
    border: none;
    background-color:  black;
    margin: 20px 0;
    width: 460px;
}

.Branch-box h1{
    font-size: 2.5em;
    color: #black;
    margin-bottom: 5px;
}