*{
    font-family: 微軟正黑體;
    padding: 0;
    margin: 0;
}

footer{
    background-color: #795548;
    /* 底部距離 0 b0 */
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    /* 行高與高度相同：垂直至中，僅限一行內容 */
    line-height: 30px;
    color:white;
}

#fussen{
    background-image: url(imgs/fussen.jpg);
    background-size: 100vw;
    width: 100vw;
    height: 900px;
    background-repeat: no-repeat;
    margin: 0;

}

#logo{
    width: 100px;
    height: 80px;

}

#link{
    float: right;
    padding: 30px;
}

#link a{
    color: white;
    text-decoration: none;
    padding: 5px 12px;
}

#link a:hover{
    background-color:#ffe048 ;
    color:black;
    transition: 0.6s;
}
/* 導覽列區塊 */
nav{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}