*{
    font-family: 微軟正黑體;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imgs/fussen.jpg);
    background-size: 100vw;
    width: 100vw;
    height: 900px;
    background-repeat: no-repeat;
    margin: 0;

}

#logo{
    width: 100px;
    height: 80px;

}

#link{
    float: right;
    padding: 30px;
}

#link a{
    color: white;
    text-decoration: none;
    padding: 5px 12px;
}

#link a:hover{
    background-color:#ffe048 ;
    color:black;
    transition: 0.6s;
}
/* 導覽列區塊 */
nav{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

/* 餐點商品區塊 */

#Meal{
    background-color: #004B3F;
    width: 80vw;
    margin: 0 auto;
    border:5px #6B4B40;
}

/* 分店資訊 */

#map{
    background-color: #004B3F;
    width: 80vw;
    margin: 0 auto;
    border:5px #6B4B40;
}

