mixin coffee-box(img,name,money)
     div(class="coffee-box")
        div(class="coffee-1")
            img(src="imgs/"+img+".jpg", alt="產品 照片")
        div(class="coffee-2")
            img(src="imgs/look1.png", alt="標題圖")
            h1 hot __ ice
        h2=name
        h3=money
        
            
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="zh")
        meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
        title Fussen Coffee
        link(rel="stylesheet", href="style.css")
    body
        div(id="fussen")
            include nav.pug        
        section(id="coffee")
            +coffee-box("tea1","紅茶","NT.70 NT.80")
            +coffee-box("tea2","福森厚紅茶","NT.80 NT.90")
            +coffee-box("tea3","黑糖芋鮮奶茶","NT.100 NT.110")
            +coffee-box("tea4","紅茶拿鐵","NT.100 NT.110")
            +coffee-box("tea5","鮮奶","NT.110 NT.120")
            +coffee-box("tea6","抹茶歐蕾","NT.110 NT.120")
            +coffee-box("tea7","荔枝紅茶(壺)","NT.110 NT.120")
            +coffee-box("tea8","蘋果茶(壺)","NT.110 NT.120")
        a(herf="drink.html" class="back") 回上頁
        footer
            nav
                img(src="imgs/福森.png", alt="Fussen Coffee首頁" class="logo")
                div(class="link")
                    a(href="index.html") 首頁
                    a(href="Meal goods.html") 餐點商品
                    a(href="Branch information.html") 分店資訊
                    a(href="contact us.html") 聯繫我們
            div(id="copy") Copyright  &copy;  2019 Fussen coffee. All rights reserved